@import "../assets/identity.module.scss";

.storybook-button {
  font-family: 'Titillium Web', serif;
  font-weight: 700;
  border-radius: 3em;
  cursor: pointer;
  line-height: 1;
}

.storybook-button--primary {
  padding: 8px 14px;
  background-color: $primary;
  color: $white;
  border: 2px solid $primary;
  border-radius: 2px;
}

.storybook-button--primary:hover {
  cursor: pointer;
  background-color: $primary-hover;
}

.storybook-button--secondary {
  padding: 8px 14px;
  color: $primary;
  background-color: transparent;
  border: 2px solid $primary;
  border-radius: 2px;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
