.navBarUiHeader {
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px); }

.logoNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem; }

.logoNavBar > img {
  height: 2.5rem;
  margin-right: 1rem; }

.logoNavBar > ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0.5rem;
  list-style-type: none; }

.navBarItem > li > a {
  padding: 0.25rem 1.25rem;
  color: #03010a;
  text-decoration: none;
  transition: all 0.4s ease; }

.navBarItem > li > a:hover {
  color: #d1036f;
  transition: all 0.4s ease; }
