.nav-bar-ui-header {
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px); }

.logo-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem; }

.logo-nav-bar > img {
  height: 2.5rem;
  margin-right: 1rem; }

.logo-nav-bar > ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0.5rem;
  list-style-type: none; }

.nav-bar-item > li > a {
  padding: 0.25rem 1.25rem;
  color: #03010a;
  text-decoration: none;
  transition: all 0.4s ease; }

.nav-bar-item > li > a:hover {
  color: #d1036f;
  transition: all 0.4s ease; }
