$primary: #d1036f;
$primary-hover: #b80564;
$secondary: #007aff;
$secondary-hover: #333;

$black: #03010a;
$heavy-grey: #333;
$grey: #8a8f98;
$light-grey: #b0b5be;
$white: #ffffff;
$box-shadow : 0 2px 14px 0 rgba(227, 227, 227, 0.75);

